{% extends "AppTienda/Principal.html" %} <!-- Declaro que Principal es mi herencia-->

{% load static %} <!-- Obligadamente va-->

<!-- Titulo centrado-->
{% block titulo %}
<div class="container">                   
    <div class="masthead-subheading">Zapatillas</div>
</div>
{% endblock %}

<!-- Nombre Formulario-->

{% block nombre_formularios %}
<h2 class="section-heading text-uppercase">Editar nueva zapatilla</h2>
{% endblock %}

<!-- Mostrar Formularios-->

{% block formularios %}
<form action="{% url 'editarZapatilla' zapatilla.id %}" enctype="multipart/form-data" method="POST"> {% csrf_token %} <!-- Token de seguridad para evitar fishing-->
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
    
        <table>
            {{ formulario.as_table  }}
        </table>
        
        <input type="submit" value="Guardar">
        </div>
</form>
{% endblock %}