{% extends "AppTienda/Principal.html" %} <!-- Declaro que Principal es mi herencia-->

{% load static %} <!-- Obligadamente va-->

<!-- Titulo centrado-->
{% block titulo %}
    <div class="container">                   
        <div class="masthead-subheading">Resultados de busqueda</div>
    </div>
{% endblock %}

<!-- Mostrar Formularios-->

{% block resultados %}


{% if zapatillas %}

<ul>
    {% for zapatilla in zapatillas %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
            <img src="/media/{{ zapatilla.imagen }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{zapatilla.marca}}</h5>
                <p class="card-text">Modelo: {{zapatilla.modelo}}</p>
                <p class="card-text">Talle: {{zapatilla.talle}}</p>
                <p class="card-text">Precio: ${{zapatilla.precio}}</p>
                <p class="card-text">Autor: {{ zapatilla.user }}</p>
                <p class="card-text">Fecha de carga: {{ zapatilla.date}}</p>
                {% if user.is_superuser %}
                <a class='btn btn-success' href="{% url 'editarZapatilla' zapatilla.id %}">Editar</a>
                <a class='btn btn-danger' href="{% url 'eliminarZapatilla' zapatilla.id %}">Eliminar</a>
                {% endif %}
                <a class='btn btn-outline-info' href="{% url 'infoZapatilla' zapatilla.id %}">Leer Mas</a>
            </div>
            </div>
        </div>
    </div>
        <br>
    {% endfor %}    
</ul>

{% else %}
    <p>No se encontraron zapatillas de esa marca</p>
{% endif %}

{% endblock %}