{% extends "AppTienda/Principal.html" %} <!-- Declaro que Principal es mi herencia-->

{% load static %} <!-- Obligadamente va-->

<!-- Titulo centrado-->
{% block titulo %}
<div class="container">                   
    <div class="masthead-subheading">Editar Usuario</div>
</div>
{% endblock %}

<!-- Nombre Formulario-->
{% block datos_perfil %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
    <div class="col-md-4">
        <img src=" {{ avatar }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">

        <h5 class="card-title" style="text-align: center;">{{usuario.username}}</h5>
        <p class="card-text"><b>Nombre: </b> {{usuario.first_name}}</p>
        <p class="card-text"><b>Apellido: </b> {{usuario.last_name}}</p>
        <p class="card-text"><b>Email: </b> {{usuario.email}}</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block nombre_formularios %}
<h2 class="section-heading text-uppercase" style="margin-top: 200px;">Editar datos del perfil</h2>
{% endblock %}

<!-- Mostrar Formularios-->

{% block formularios %}
<div style="margin-top: 20px;">
<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %} <!-- Token de seguridad para evitar fishing-->
        <table style="text-align: left;">
            {{ formulario.as_table  }}
        </table>
        <br>
        <br>
        <button type="submit"> Guardar </button>          
</form>
</div>
<h2>{{ mensaje }}</h2>
{% endblock %}