{% extends "AppTienda/Principal.html" %} <!-- Declaro que Principal es mi herencia-->

{% load static %} <!-- Obligadamente va-->

<!-- Titulo centrado-->
{% block titulo %}
<div class="container">                   
    <div class="masthead-subheading">Editar Usuario</div>
</div>
{% endblock %}

<!-- Nombre Formulario-->
{% block datos_perfil %}
<img src="{{ avatar }}" height="60px" alt="">
<h5 class="card-title">Nombre de Usuario: {{usuario.username}}</h5>
<p class="card-text">Nombre: {{usuario.first_name}}</p>
<p class="card-text">Apellido: {{usuario.last_name}}</p>
<p class="card-text">Email: {{usuario.email}}</p>
{% endblock %}
{% block nombre_formularios %}
<h2 class="section-heading text-uppercase">Editar datos del perfil</h2>
{% endblock %}

<!-- Mostrar Formularios-->

{% block formularios %}
<div style="text-align: center;">
<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %} <!-- Token de seguridad para evitar fishing-->
        <table>
            {{ formulario.as_table  }}
        </table>
        <br>
        <br>
        <button type="submit"> Guardar </button>          
</form>
</div>
<h2>{{ mensaje }}</h2>
{% endblock %}